.container-list-produce {
  width: 1450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 35px;
}

.container-list-produce .right-content {
  width: 200px;
  padding-right: 30px;
  margin-top: 18px;
}

.container-list-produce .right-content .sort-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.container-list-produce .right-content .sort-filter select {
  width: 90px;
  height: 30px;
}

.container-list-produce .right-content .list-fm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-list-produce .right-content .list-fm li {
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container-list-produce .right-content .list-fm li label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.container-list-produce .right-content .size-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.container-list-produce .right-content .size-content label:hover {
  color: #2AC37D;
}

.container-list-produce .right-content .coler-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.container-list-produce .right-content .coler-content li label span {
  line-height: 1.42857143;
  color: #000000;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, sans-serif !important;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 1px solid #ccc;
}

.container-list-produce .left-content {
  width: 1200px;
}

.container-list-produce .left-content .name-list {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 50px 150px;
}

.container-list-produce .left-content .name-list li a {
  color: #3E636A;
  font-size: 18px;
  font-weight: bold;
}

.container-list-produce .left-content .name-list li a:hover {
  color: #2AC37D;
}

.container-list-produce .left-content .content-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container-list-produce .left-content .content-pro .owl-theme {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-left1 button {
  width: 40px;
  height: 100px;
  background-color: #009954;
  color: white;
  position: fixed;
  z-index: 3999;
  top: 200px;
  left: 1480px;
}

.cart-cont1 {
  position: fixed;
  display: none;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  top: 30px;
  left: 1135px;
  z-index: 9999;
}

.cart-cont1 img {
  width: 80px;
  height: 80px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 10px;
}

.cart-cont1 h1 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  color: black;
}

.cart-cont1 .item-cart {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}

.cart-cont1 .item-cart .del {
  border: none;
  background-color: whitesmoke;
  color: red;
  font-size: 16px;
}

.cart-cont1 .item-cart a {
  font-size: 18px;
  color: #555;
}

.cart-cont1 .item-cart a:hover {
  color: #009954;
}

.cart-cont1 .item-cart .sl-tt {
  width: 200px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-cont1 .item-cart .sl-tt input {
  color: black;
  width: 30px;
}

.cart-cont1 .sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-cont1 .sum .s-t {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-cont1 .sum .bt-tt {
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  background-color: #009954;
  color: white;
  border-radius: 20px;
}
/*# sourceMappingURL=list-pro.css.map */